*, body, html {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  height: 110px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 410px;
  background: #303f9f;
}

header .left .logo {
  margin-left: 40px;
}

header .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 410px);
  background: #3f51b5;
}

header .right .dashboard {
  margin-left: 40px;
}

header .right .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

header .right .icons .icon {
  margin-left: 10px;
  margin-right: 10px;
}

header .left .text {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  transform: translateY(-3px);
}

header .dashboard {
  font-size: 18.75px;
  color: #c5cae9;
}

header .icon {
  padding-left: 17.5px;
  padding-right: 17.5px;
}

header .logo {
  margin-right: 17px;
}

.sidebar {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 410px;
  height: 100%;
  background: #fff;
}

.sidebar .person {
  height: 200px;
  width: 100%;
  border-bottom: solid 1px #edf0f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
}

.sidebar .person .photo {
  display: block;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.sidebar .person .information {
  margin-left: 35px;
  font-size: 12.5px;
  font-weight: 400;
}

.sidebar .person .name {
  font-size: 16.67px;
  font-weight: bold;
  color: #6a6c6f;
}

.sidebar .items {
  height: 93px;
}

.UI {
  background-color: #f00;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-left: 410px;
  margin-top: 110px;
  height: 100vh;
  background-color: #edf0f5;
  font-size: 25px
}
