@import "@material/layout-grid/mdc-layout-grid";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

*, body, html {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  height: 66px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

header .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 246px;
  background: #303f9f;
}

header .left .logo {
  margin-left: 20px;
}

header .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 246px);
  background: #3f51b5;
}

header .right .dashboard {
  margin-left: 20px;
}

header .right .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

header .right .icons .icon {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}
.icon .material-icons{
  font-size: 20px;
}
 header .alarm {
  font-size: 12.5;
  transform: translateY(5px);
  cursor: pointer;
}
header .alarm .circle {
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background: #ff5b5b;
  position: relative;
  right: -15px;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  transform: translate(-2px,10px);
  padding-bottom: 1px;
}

header .left .text {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transform: translateY(-3px);
}

header .dashboard {
  font-size: 12px;
  color: #c5cae9;
}


header .logo {
  margin-right: 10px;
}

.sidebar {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  width: 246px;
  height: 1400px;
  background: #fff;
}

.sidebar .person {
  height: 120px;
  width: 100%;
  border-bottom: solid 1px #edf0f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.sidebar .person .photo {
  display: block;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.sidebar .person .information {
  margin-left: 17.5px;
  font-size: 7.5px;
  font-weight: 400;
}

.sidebar .person .name {
  font-size: 10px;
  font-weight: bold;
  color: #6a6c6f;
}

.sidebar .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  height: 56px;
  color: #6a6c6f;
  padding-left: 20px;

}
.sidebar .items .color_red{
  display: grid;
  text-align: center;
  background-color: red;
  height: 15px;
  width: 15px;
  margin-right: 25px;
  color: #fff;
  border-radius: 5px;
  font-weight: 200;
}
.sidebar .items .green_color{
  display: grid;
  text-align: center;
  border-radius: 5px;
  background-color: green;
  height: 15px;
  width: 15px;
  margin-right: 25px;
  color: #fff;
  font-weight: 200;
}
.sidebar .items .blue_color{
  display: grid;
  border-radius: 5px;
  text-align: center;
  background-color: blue;
  height: 15px;
  width: 15px;
  margin-right: 25px;
  color: #fff;
  font-weight: 200;
}

.sidebar .items:hover {
  background-color: #edf0f5;
}
.UI {
  margin-top: 25px;
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 8px;
  font-weight: 600;
  color: #6a6c6f;
}
.sidebar .last-items{
    border-bottom: solid 1px #edf0f5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.sidebar .subitems{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  height: 56px;
  color: #6a6c6f;
  margin-left: 20px;
}

.sidebar .last-subitems{
  padding-bottom: 45px;
}

.content {
  margin-left: 246px;
  margin-top: 66px;
  height: 100%;
  background-color: #edf0f5;
  font-size: 30px
}
.content .welcome{
  display: flex;
  align-items: center;
  background-color: white;
  height: 86px;
  font-size: 15px;
  margin-bottom: 25px;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  border-width: 1px;
  border-color: #d7e0f1;
  border-style: solid;
}

.content .text{
margin-bottom: 15px;
}

.content .under-text{
  font-size: 10px;
}

.content .number{
  font-size: 20px;
  font-weight: bold;
}


a[href="#menu"] {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 20px;
}
a[href="#menu"]:focus {
  display: none;
}
a[href="#menu"]:focus + .top-menu {
  display: block;
}
